.pagination{
    li{
        a{
            margin-right: 4px;
            padding: 4px;
        }
        &.active a{
            border-bottom: 1px solid #858796;
            margin: 0 4px;
            padding: 3px 10px;
            text-align: center;
        }
        &.first,
        &.prev,
        &.next,
        &.last{
            a{
                color: #fff;
                background: #858796;
                border-radius: 0.15rem;
            }
        }
    }
}